<%= simple_form_for(@note) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>

    <%= f.input :time, as: :string, wrapper_html: {class: 'input-group bootstrap-timepicker timepicker'} %>

    <%= f.input :due_date, as: :string %>
    <%= f.input :created_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
